*{
    margin: 0;
    padding: 0;
   
  }
  
  body{
    background-image: url(R.jpg);
  }
  
  header {
    font-family: Josefin Sans;
    font-weight: 500;
    background-color: #02172c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 45px;
  }
  a:hover{
    color: rgb(168, 179, 226);
  }
  
  nav{
    font-family: Josefin Sans;
    font-weight: 600;
    height: 30px;
    padding: 10px 0;
    background-color: rgb(72, 71, 107);
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    
  }
  
  a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
  }
  
 /* Existing CSS styles remain unchanged */

/* New styles for the login container and window */
/* Existing CSS styles remain unchanged */

/* New styles for the login container and window */
.login-container {
    position: fixed;
    top: 50%;
    width: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px; /* Increase padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-window {
    text-align: center;
}

.login-window form {
    display: flex;
    flex-direction: column;
}

.login-window input {
    margin-bottom: 15px; /* Increase margin between inputs */
    padding: 12px; /* Increase padding */
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 8px; /* Increase border radius */
    font-size: 16px; /* Increase font size */
}

.login-window button {
    padding: 12px 24px; /* Increase padding */
    background-color: #02172c;
    color: #fff;
    border: none;
    border-radius: 8px; /* Increase border radius */
    cursor: pointer;
    font-size: 18px; /* Increase font size */
    
}

.login-window button:hover {
    background-color: #003366;
}

/* Styles for the user icon */
.user-icon {
    text-align: center;
    margin-bottom: 25px; /* Increase margin bottom for the icon */
}

.user-icon img {
    width: 120px; /* Increase width of the user icon */
    height: auto;
}

@media screen and (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }
    a {
        font-size: 1rem;
    }
    .login-container {
        width: 80%;
    }
    .login-window input,
    .login-window button {
        font-size: 0.7rem;
    }

    .login-window input{
        width: 50%;
    }
}
